.rate-comment-mentor {
  font-family: Arial, sans-serif;
  max-width: 700px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
}

.mentor-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mentor-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.mentor-details h3 {
  margin: 0;
}

.tags {
  margin-top: 5px;
}

.tag {
  background-color: #fff;
  color: #666;
  padding: 2px 6px;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 12px;
}

.star-rating {
  color: #ffc107;
  margin-bottom: 10px;
}

.comment-box textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 3px;
  resize: vertical;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.rating > label {
  margin-right: 4px;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.rating:not(:checked) > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg {
  fill: #ffa723;
}

.rating:not(:checked) > label:hover ~ label > svg,
.rating:not(:checked) > label:hover > svg {
  fill: #ff9e0b;
}

#star1:hover ~ label > svg,
#star1:hover > svg {
  fill: #a23c3c !important;
}

#star2:hover ~ label > svg,
#star2:hover > svg {
  fill: #99542d !important;
}

#star3:hover ~ label > svg,
#star3:hover > svg {
  fill: #9f7e18 !important;
}

#star4:hover ~ label > svg,
#star4:hover > svg {
  fill: #22885e !important;
}

#star5:hover ~ label > svg,
#star5:hover > svg {
  fill: #7951ac !important;
}

#star1:checked ~ label > svg {
  fill: #ef4444;
}

#star2:checked ~ label > svg {
  fill: #e06c2b;
}

#star3:checked ~ label > svg {
  fill: #eab308;
}

#star4:checked ~ label > svg {
  fill: #19c37d;
}

#star5:checked ~ label > svg {
  fill: #ab68ff;
}
